html, body {
    text-align: center;
  }

  body {background-image: url('https://i.pinimg.com/236x/62/94/6e/62946e7ca82fa5dcd5f3e38d1d09c2f1.jpg');
    }


  .wrapper {
    background: #ff8080;
    margin: auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 30%;
    border-radius: 25px;
  }

  main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

  }
  .card {
    background: rgb(147, 164, 255);
    position: relative;
    border-radius: 10px;
    align-self: center;
  }

  h1 {
    font-size: 36px;
    text-decoration: underline;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {font-size: 24px;}

  li {
    background: rgb(150, 200, 255);
    font-size: 24px;
    margin-right: 15px;
  }

  .delete {
    margin-left: 1em;
  }